<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="/css/style.css">
<link rel='stylesheet' href='/css1/header.css' />
<link rel='stylesheet' href='/css1/about.css' />

<link rel="stylesheet" href="/css/font-awesome.min.css" />
<link rel="stylesheet" href="/css/owl.carousel.css" />
<link rel="stylesheet" href="/style.css" />
<br><br><br><br>
    <h3 class="alert alert-success text-center">My Profile     </h3>
    <%# Show All Data %>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Mobile No</th>
                    <th scope="col">Address</th>
                    
                    <th scope="col">College</th>
                    <th scope="col">Course</th>
                     
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <% var i=1 %>
                    <% data1.forEach((item)=>{ %>

                        <tr>
                            <td>
                                <%= i++ %>
                            </td>
                            <td>
                                <%= item.name %>
                            </td>
                            <td>
                                <%= item.email %>
                            </td>
                            <td>
                                <%= item.number %>
                            </td>
                            <td>
                                <%= item.address %>
                            </td>
                             
                            <td>
                                <%= item.college %>
                            </td>

                            <td>
                                <%= item.course %>
                            </td>

                             
                            <td>
                                <a class="btn btn-info" href="/course/view/<%=item._id%>">view </a>
                                <a class="btn btn-danger" href="/course/edit/<%=item._id%>">Edit </a>

                            </td>
                        </tr>
                        <%})%>
            </tbody>
        </table>
        <center>
            <a href="/website/dashboard" class="btn btn-warning">Back To The Dashboard</a>
        </center>


